[2018-05-19 17:18] jianlong-yuan opened #1 "would you report mIoU on pascal voc dataset?"

[2018-05-20 05:52] holyseven commented on #1
Training with 12031 (10582 + 1449, train and validation set) images, [L2-SP regularization](https://github.com/holyseven/TransferLearningClassification), and original ResNet-101, I got [79.8 scores mIoU ](http://host.robots.ox.ac.uk:8080/anonymous/NAAVTI.html)(compared to 82.6 in the paper) on the test set. Not sure if changing the structure of network will help 3 points.

[2018-05-21 04:56] yjl9122 commented on #1
do you train with trainval date?

[2018-05-21 06:10] jianlong-yuan commented on #1
@holyseven do you use trainval data set?

[2018-05-21 07:50] holyseven commented on #1
yes

[2018-05-21 10:40] jianlong-yuan commented on #1
@holyseven How many points improve with L2-SP?

[2018-05-21 11:44] holyseven commented on #1
Training with only train set (10582 images), tested on val set (1449), L2 got 78.3, L2-SP 79.9.

[2018-05-22 04:51] yjl9122 commented on #1
@holyseven Maybe, test with sliding window will be better.

I found there is so many modes, so which mode you chose? If weight_decay_mode=1?

[2018-05-22 05:05] yjl9122 commented on #1
@holyseven Maybe, test with sliding window will be better.

I found there is so many modes, so which mode you chose? If weight_decay_mode=1?
Could you tell us how to set your parameters related to L2-SP?

[2018-05-22 05:06] jianlong-yuan commented on #1
@holyseven Maybe, test with sliding window will be better.

I found there is so many modes, so which mode you chose? If weight_decay_mode=1?
Could you tell us how to set your parameters related to L2-SP on cityscapes and Pascal VOC?

[2018-05-22 08:00] holyseven commented on #1
Detailed in the [paper](https://arxiv.org/abs/1802.01483).

Simply, the reference of regularization for the parameters is the pre-trained model. Here, the pre-trained model I used is ResNet-V1-101, proposed by [Tensorflow/slim](https://github.com/tensorflow/models/tree/master/research/slim#pre-trained-models), converted from the original caffe format. Examples of scripts for fine-tuning on Citysca

[2018-05-24 22:43] fanq15 opened #2 "Have you ever tested other variants of the L2-SP?"
Thanks!

[2018-05-25 07:56] holyseven commented on #2
We have tested other variants (L2-SP-Fisher, L1-SP, GL-SP, GL-SP-Fisher) on classification tasks, see the [paper](https://arxiv.org/abs/1802.01483) for details. The conclusion is that L2-SP is the most efficient.

As for segmentation tasks, we have only evaluated L2-SP.

[2018-05-25 09:25] #1 closed, assigned to nobody

[2018-05-26 21:01] xiongzhanblake opened #3 "I guess there is one extra line in the function of inference of pspnet"
https://github.com/holyseven/PSPNet-TF-Reproduce/blob/396a8a5c2855a25ed59efd9c7ab9b956cfb21ec2/model/pspnet_mg.py#L196

[2018-05-27 11:06] holyseven commented on #3
`avg_pool` has `ksize` and `strides` arguments, which are set to the same, i.e. `utils.stride_arr(pool_size[pool_index], self.data_format)`.

[2018-05-27 14:20] xiongzhanblake commented on #3
Thanks for your reply! I found its definition in utils.py.
By the way, have you used dense_crf as the post-process at the end?

[2018-05-27 14:52] xiongzhanblake opened #4 "About training on fine + coarse data set"
Hi, thanks for your nice work！ Recently, I am following this pspnet work.
I am curious about how you trained on the fine + coarse data set. Here is my idea:
1. split training into 2 steps: train on the coarse or fine data set first and on the another then.
2. mix fine and coarse data set, and train once only.

[2018-05-27 15:11] holyseven commented on #3
Tried (use `pip` to install the library), but it takes a lot of time and does not improve the performance. There are some h-parameters to configure, I tried only the default values, maybe they are not good for Cityscapes.

[2018-05-27 15:21] holyseven commented on #4
I obtained the results following the process below, (proposed by authors of PSPNet):
- train on extra+train (20000+2975 images),
- then on train set (2975),
- test on val set (500) or test on test set (1525).

I tried `training once`, not very good. No idea how to do it properly and why.

[2018-05-27 15:49] xiongzhanblake commented on #4
Thanks for your response : )
So the results showed in [Numerical Results](https://github.com/holyseven/PSPNet-TF-Reproduce#numerical-results) are obtained from the above process. Quite impressive results! The poor performance of once training, I suppose， might result from two different sets of annotations, i.e. gt_coarse and gt_fine.
Hereafter, I came back to original paper and guess the process m

[2018-05-27 15:55] xiongzhanblake commented on #3
I did not find dense_crf layer in original pspnet as well. I will skip it for now. Thanks for your advice.

[2018-05-28 11:25] xiongzhanblake commented on #4
One more question:
Did you transfer all ground truth files '*labelIds.png' into '*labelTrainIds.png' following this [preparation](https://github.com/mcordts/cityscapesScripts/blob/master/cityscapesscripts/preparation/createTrainIdInstanceImgs.py) and after then put all transferred png files into your gt folder?
Thanks!

[2018-05-28 13:20] holyseven commented on #4
I used only 19 classes for training (i.e. TrainIds) and test. The preparation followed the [id definition](https://github.com/mcordts/cityscapesScripts/blob/master/cityscapesscripts/helpers/labels.py) but was not done by this [script](https://github.com/mcordts/cityscapesScripts/blob/master/cityscapesscripts/preparation/createTrainIdInstanceImgs.py).

As for training with coarsely labeled data, wh

[2018-05-28 13:49] xiongzhanblake commented on #4
I believe that in the first stage gt_fine should be excluded because this stage works as a coarsely / weakly training. Then finely train with gt_fine in the second stage.

[2018-05-30 01:08] fanq15 commented on #1
When I train with only train set (10582 images), tested on val set (1449), L2 got 76.6, L2-SP 78.4.

[2018-05-30 01:13] fanq15 opened #5 "My performance is lower than your report on VOC dataset"
I use the same setups as your document, but my performance is lower than your report on VOC dataset.
When I train with only train set (10582 images), tested on val set (1449), L2 got 76.6, L2-SP 78.4.
I am very curious about the reason.
Thanks!

[2018-05-30 06:46] lxtGH commented on #4
Hi！ @holyseven
 Thanks for your code, what kind of gpu you use? what is its memory ? (I guess 12GB above), I use the code with then same setting in your README file, since my gpu memory limits(11GB), I 8 GPU so one image per GPU, the model doesn't converge. the loss is still about 1.5 after 50000 iteration

[2018-05-30 08:17] holyseven commented on #5
Have you tested with multi-scale (ms)? with the script like this:

`CUDA_VISIBLE_DEVICES=0 python ./predict.py --server $s --database 'SBD' --structure_in_paper 0 --save_prediction 1 --color_switch 0 --test_image_size 480 --mode 'test' --weights_ckpt './log/SBD/only-resnet-1/snapshot/model.ckpt-30000' --coloring 0 --mirror 1 --ms 1`

**EDITED** for evaluation on the validation set:
`CUDA_VISIBLE_D

[2018-05-30 08:43] holyseven commented on #4
@lxtGH On Cityscapes? Have you done the preparation as we discussed here? Would you share your training script and some of your log file?

[code]

And feel free to open a new issue if you think this is a different subject from here.

[2018-05-30 08:51] lxtGH commented on #4
Hi ! @holyseven Thank you for your reply.
I found my problem, I used the wrong labels, I check your code, I see you use **labeltrainids**
so the model dosen't converge after 50000 iteration.
maybe you can add following code in reader_segmentation.py , function _read_cityscapes_image_label_list for others use.
`labels_filename_proto = data_dir + '/gtFine/' + data_sub + '/*/*labelTrainIds.png'`
`ass

[2018-05-30 13:56] fanq15 commented on #5
Nope... I will try it. Thank you very much!

[2018-05-31 15:22] #3 closed, assigned to nobody

[2018-06-01 18:32] #5 closed, assigned to nobody

[2018-06-01 18:32] fanq15 commented on #2
BTW, I think your code is great! Maybe you could

[2018-06-01 18:32] #2 closed, assigned to nobody

[2018-06-02 02:30] PkuRainBow commented on #2
I am wondering the influence of the L2-SP compared with the basic weight decay.

It would be great if you could provide the exact performance.

[2018-06-02 03:59] fanq15 commented on #2
Same as his. I forget the exact performance, but I can make sure the difference is minor. https://github.com/holyseven/PSPNet-TF-Reproduce/issues/1

[2018-06-02 04:05] PkuRainBow commented on #1
@fanq15 So you means that L2-SP can improve 2 points compared with the baseline method?

[2018-06-02 04:09] PkuRainBow commented on #1
@fanq15 Have you tried this method with Pytorch?  It seems really easy to use.

[2018-06-03 22:33] holyseven commented on #4
@lxtGH Thanks! Done!

[2018-06-03 22:33] #4 closed, assigned to nobody

[2018-06-06 00:56] PkuRainBow commented on #2
@fanq15 Could you share your peformance with the L2-SP and the original weight day.

[2018-06-08 19:28] John1231983 commented on #1
Hi all, anyone who success to implement L2-SP in pytorch? I would like to test the efficient of L2-SP using pytorch ? Thanks

[2018-06-09 23:00] holyseven commented on #1
I wrote some codes in pytorch to implement L2-SP (that hasn't been tested yet):

[code]

I have no plans to continue with pytorch at this moment. If you could try L2-SP with some experiments in pytorch (classification or segmentation, or other transfer learning applications), thanks in advance for sharing.

**UPDATE**
w.norm(2) => torch.pow(w, 2).sum()
Still, I haven't tested this implementation.

[2018-06-15 01:56] irfanICMLL opened #6 "Have you trained the model based on instance level label?"
In the readme, it shows that the id should be generated by createTrainIdInstanceImgs.py . But why we use this label for training? We just want to do a semantic segmentation, not a instance segmentation? Will use the instance label help to increase the mIOU?

[2018-06-15 07:14] holyseven commented on #6
Oops... the pointer should be [createTrainIdLabelImgs.py](https://github.com/mcordts/cityscapesScripts/blob/master/cityscapesscripts/preparation/createTrainIdLabelImgs.py). Sorry for that confusion.

[2018-06-19 06:38] irfanICMLL commented on #6
Thank you for your reply~

[2018-07-04 09:32] irfanICMLL opened #7 "about the local_variables_initializer"
Sorry it is me again!
I wonder what is the local variables in this tf graph? Why we need to initialize the local variables after we save the snapshot? I find that the iou will change dramatically every time we save the snapshot.

Is that because the printed iou, which represents for a mean iou for several steps, and the counter will be cleared zero   after the local initialize?
Or we train some ne

[2018-07-05 13:20] holyseven commented on #7
Yes. Local variable is just a confusion matrix which accumulates each iteration. After the initializer of local variables, the confusion matrix will be zero.

No.

Computing mean IoU scores for **one** image does not seem reasonable because not all classes will be  present in this image. So I choose to accumulate the confusion matrix for a specific number of iterations which happens to be equal to

[2018-07-12 11:10] #6 closed, assigned to nobody

[2018-07-27 07:31] #7 closed, assigned to nobody

[2018-08-13 12:59] PkuRainBow opened #8 "How to use the coarse data properly?"
Hi, really great work.

I noticed that you got about 1 point performance improvement by using the coarse labeled data and the original PSPNet reported that they got 2 points improvements.

However, I always failed to improve the performance by using the coarse labeled data...... Which is very strange ..........

I am wondering whether anyone also meet similar problem. I am using the Pytorch as the

[2018-08-13 14:22] holyseven commented on #8
see #4.

[2018-08-25 10:05] FengLoveBella opened #9 "structure_in_paper"
Hi @holyseven, nice work. I have a problem when using 'structure_in_paper' setting in your released paper, because of the initial model ResNet_v1_101 is different to the code in structure_in_paper. Could you share the initial resnet101 model which can be used in the 'structure_in_paper' mode? Thank you very much!

[2018-08-25 11:29] holyseven commented on #9
I have no such initial model. Discussion with the author of PSPNet:

There are some trained models from https://github.com/hszhao/PSPNet, but on ADE, VOC or Cityscapes.

[2018-08-25 11:50] FengLoveBella commented on #9
@holyseven Thank you very much. And another question, did you try class weight in your code? does it help? (Because the classes are inbalance)

[2018-08-25 12:50] holyseven commented on #9
[FCN](https://people.eecs.berkeley.edu/~jonlong/long_shelhamer_fcn.pdf) tried to do the class balancing on VOC but found unnecessary.

I tried the simplest (giving each class a weight, the inverse of pixel number rate) and [focal loss with gamma=2](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/model/pspnet_mg.py#L262), but found no help. **Maybe** more hyper-parameter tuning or more

[2018-08-28 11:30] FengLoveBella commented on #9
@holyseven OK, I got it, 3ks.

[2018-08-30 12:44] #8 closed, assigned to nobody

[2018-09-02 03:51] hydxqing opened #10 "pre-training weight and 'auxiliary loss operations'"
Recently,I'm learning about semantic segmentation, and I'm glad to learn your Repositories: pspnet-tf-fiction on github.This is a particularly good reproduction.
And I have a few questions for you:
1. How do you import the pre-training weight of resnet_v1_101 into the model? I think the code is initialized with 'he'.
2. What is the role of 'auxiliary loss operations' in the model? When I use resne

[2018-09-02 08:21] holyseven commented on #10
Here is [the code](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/run_pspmg/train.py#L247) that imports the pre-trained weights. The 'he' initialization is a default intializer but will be overwritten by that code.

The code in this repository is only for resnet_v1_101 at this moment. I'm not sure what error you met. So if you would like to change to resnet_v1_50, the code you should

[2018-09-03 03:09] hydxqing commented on #10
Thank you for your reply. Renet_v1_101 can't run because of the restriction of the graphics card. I can only use resnet_v1_50 at present. The network can output loss. And the value of "loss, precision, wd" after training 9000 times is "0.025793, 0.100266, 0.069967". Is this a bad result?

[2018-09-03 15:51] holyseven commented on #10
Yes. Not sure what you did, loss is small but the precision is low.

An example log file I had:

[code]

[2018-09-04 13:11] #9 closed, assigned to nobody

[2018-09-05 06:00] chowkamlee81 opened #11 "How to do training on fine + coarse data set?"
As per author of Pspnet, we need to carry out

    train on extra+train (20000+2975 images),
    then on train set (2975),
    test on val set (500) or test on test set (1525).

By running the below command 3 times, is it possible to get correct results? command below

CUDA_VISIBLE_DEVICES=0,1,2,3 python ./train.py --subsets_for_training 'train' --ema_decay 0.9 --gpu_num 4 --network 'pspnet' --str

[2018-09-05 10:37] holyseven commented on #11
The script you give is for training 50K iterations on training set (2975) only. The important augments here are `subsets_for_training`, `fine_tune_filename` and `train_max_iter`.

If you want to use extra data, change to `--subsets_for_training 'train,train_extra'`, train around 150K iterations.

Then change to `--subsets_for_training 'train'` and change `--fine_tune_filename` to the file you obta

[2018-09-05 10:42] chowkamlee81 commented on #11
Now i understood the code for running model multiple times to land up good result... Very much thank of you... Closing the issue

[2018-09-05 10:42] #11 closed, assigned to nobody

[2018-09-06 03:38] hydxqing commented on #10
Oh,Thanks.I trained 30,000 times with resnet_v1_50, and the final accuracy is 62.2%. What is the best result of your training?
You add the auxiliary loss to the final loss in the program directly .Do we not assign weights to auxiliary loss?

[2018-09-06 08:41] holyseven commented on #10
62.2 on Cityscapes? I only tested resnet_v1_101 and had 78.2 without multi-scale test.

For auxiliary loss, [its weight is 0.4](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/model/pspnet_mg.py#L317).

[2018-09-06 10:27] hydxqing commented on #10
I trained on my own dataset with multi-scale test. But when I increase the number of training, the accuracy has not changed. And do you have any good suggestions for optimization?

[2018-09-06 11:16] holyseven commented on #10
It is a difficult question.
Try Adam? But probably it won't change a lot.
What is the mIoU score on the training set? If it's high, it is not a problem of optimization.
Try different learning rates.

[2018-09-06 14:37] hydxqing commented on #10
Thanks.But is mIOU not the accuracy of output?

[2018-09-06 15:59] holyseven commented on #10
It is.

[2018-09-10 07:08] hydxqing commented on #10
But I seem to have problems in training.
1.In the training process, as the number of iterations increased, the loss almost remained unchanged, but the accuracy increased slowly.
2.And the accuracy of the test set is always higher than that of the training set.
Do you know why？

[2018-09-10 10:36] holyseven commented on #10
It is a good sign. The mIoU is computed by accumulating the confusion matrix. For training, the confusion matrix will rarely be reinitialized, so the mIoU is affected by the beginning examples but will increase slowly even when the training has already converged.

this is because there is no overfitting. The mIoU on the test set is almost equal to the "true" mIoU on the training set.

[2018-09-11 11:11] zhangxiaosong18 opened #12 "How to prepare SBD(or VOC2012) dataset"
hi, I found that this code supports SBD and Cityscapes dataset, but did not explain how to prepare SBD dataset, can you tell me? thank you.

[2018-09-11 13:03] holyseven commented on #12
change the [find_data_path](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/database/reader_segmentation.py#L359) fucntion. I have [some files here](https://github.com/holyseven/PSPNet-TF-Reproduce/tree/master/database/SBD_data_path) or you can do it by yourself.

[2018-09-17 03:09] s7ev3n opened #13 "About focal_loss"
Hi,
Thanks for sharing your work!
I noticed you use focal loss in your code, and use 'reduce_sum' returning the loss. And I also use focal loss in my code with a little modification using 'reduce_mean' to calculate loss value, since using 'reduce_sum' output a huge loss value. However, using 'reduce_mean' also has side effect when I use pretrained variables on coarse to further train on fine label

[2018-09-18 09:59] holyseven commented on #13
Maybe this is caused by numerical instability. Gradients of cross entropy with softmax are simple: `-yi + pi`; but gradients of focal loss are involved with `ln pi`.
In fact, I tested `focal_loss` with SDB dataset and used 20 examples in a mini-batch, and didn't find the `nan` problem. The results are similar with normal loss. But 8 examples with SDB, or with Cityscapes, always `nan`.

And `reduce

[2018-09-19 06:56] s7ev3n commented on #13
Thank you very much for your reply,
Indeed, the problem is caused by using `reduce_mean`. I will try `reduce_sum` and divide valid pixel number!

[2018-09-24 07:26] #10 closed, assigned to nobody

[2018-09-26 09:48] #12 closed, assigned to nobody

[2018-09-29 10:20] PINTO0309 opened #14 "Problems when using the latest Tensorflow 1.11.0 [reader_segmentation.py]"
# Environment
CUDA 9.0
cudnn 7.0
Tensorflow 1.11.0
numpy 1.14.5
Geforce GTX 1070 or Tesla K80

# Summary
It is not a big problem.
The return value of "decode_image" function is "None".
I am glad if it will be helpful for everyone.

## Before (reader_segmentation.py)
[code]

## After (reader_segmentation.py)
Learning progresses normally after correction.
[code]

[2018-09-29 11:13] holyseven commented on #14
Thanks! Because I have to stick on tf1.1, where `tf.image.decode_jpeg` does not support decode other formats. So an alternative which works for both tf1.1 and tf1.10:
[code]

And I am working on a dev branch and have plan to merge with the master branch. It will change some codes, but support all resnet backbones and ADE datasets.

[2018-09-29 13:36] PINTO0309 commented on #14
@holyseven
Great!!
I am looking forward to it.

[2018-09-29 13:36] #14 closed, assigned to nobody

[2018-10-02 14:51] #13 closed, assigned to nobody

[2018-10-11 08:56] holyseven commented on #12
I just noticed that it is difficult to find it online so I put the dataset on google drive for convenient use (around 1.5~1.6G)

https://drive.google.com/open?id=19gjw9qBHVrsuoLt_F1Svuu6wxiR4UHsr
md5: 9fac86066b14fd6234c8853e8d3800ed

[2018-10-23 06:20] horizonheart opened #15 "loss or weight norm is nan. Training Stopped!"
< Finetuning Process: not import resnet_v1_101/psp/pool1/BatchNorm/gamma:0 >
< Finetuning Process: not import resnet_v1_101/block4/unit_4/weights:0 >
< Finetuning Process: not import resnet_v1_101/block4/unit_4/BatchNorm/beta:0 >
< Finetuning Process: not import resnet_v1_101/block4/unit_4/BatchNorm/gamma:0 >
< Finetuning Process: not import resnet_v1_101/logits/weights:0 >
< Finetuning Process: n

[2018-10-23 06:40] holyseven commented on #15
Try to use a larger batch size or reduce the learning rate / weight decay.

[2018-10-24 09:55] horizonheart commented on #15
i found the loss is not nan ,but the wd is nan .is there any relationship with learning rate or weight decay and i used the default value.

[2018-10-24 14:16] holyseven commented on #15
OK. Could you tell me the configuration you were using, train_image_size, batch_size, gpu number,  learning rate, weight decay rate(s) and the database.

[2018-10-24 14:25] horizonheart commented on #15
batch and gpu is 1,other is deault.the dataset is Mapillary. the wd will become nan at the second itertion when i used tf.print.Do you have run your code successfully?

[2018-10-24 17:37] holyseven commented on #15
I didn't try it on Mapillary. But batch size * gpu_num should be larger than 16 (suggested by the PSPNet paper)

[2018-10-25 01:30] horizonheart commented on #15
But the problem now is that the parameters of the model appear nan, this has nothing to do with the size of the batch size.

[2018-10-25 07:05] holyseven commented on #15
One example in a batch will cause the training unstable (probably due to the batch normalization layer), leading the parameters exploding, i.e. NAN.

[2018-10-26 01:46] horizonheart commented on #15
I used four gpus, and the batchsize is set to 4 ，but there is still NAN. Are you sure your program can run?

[2018-10-26 07:42] holyseven commented on #15
Sorry, I didn't try Mapillary dataset with my code. Based on this situation, I cannot tell the reason of NAN. Try to use one of ADE20K, Pascal VOC or Cityscapes databases, and see if the NAN is still there.

[2018-10-29 02:47] jonhe88 opened #16 "shouldn't we use moving_mean and moving_bar in training mode instead of batch mean and var？"
if 'train' in stats_mode:
                    xn = tf.nn.batch_normalization(
                        list_input[i], mean, var, beta, gamma, bn_epsilon)
                    if tf.get_variable_scope().reuse or 'gather' not in stats_mode:
                        list_output.append(xn)
                    else:
                        # gather stats and it is the main gpu device.

[2018-10-29 07:45] holyseven commented on #16
What is your argument of using moving_mean and moving_bar?

[2018-10-29 07:50] jonhe88 commented on #16
In the third line of the pasted codes, the batch mean and var of the current batch are used for batchnorm computation. I think we should use moving mean and var in BN

[2018-10-29 07:58] holyseven commented on #16
Why do you think we should use moving mean and var in BN during training?

[2018-10-29 08:17] jonhe88 commented on #16
You're right, this is the standard procedure,  moving mean during training has defects

[2018-11-27 10:13] #16 closed, assigned to nobody

[2018-12-07 11:22] gulzainali98 opened #17 "Model failing to load"
model not loading. It gives an error. Below is the error.

Tensor name "resnet_v1_50/block1/unit_1/bottleneck_v1/conv1/BatchNorm/beta" not found in checkpoint files /PSPNET/PSPNet-TF-Reproduce/z_pretrained_weights/resnet_v1_101.ckpt
	 [[node save/RestoreV2 (defined at inference.py:71)  = RestoreV2[dtypes=[DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT, ..., DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT

[2018-12-07 14:05] holyseven commented on #17
Sorry, by default the code seems to use the model resnet_v1_50 but the pre-trained weights resnet_v1_101.

So the download link for resnet_v1_50 is here http://download.tensorflow.org/models/resnet_v1_50_2016_08_28.tar.gz.

Of course, you can change the model to resnet_v1_101 (see [train.py](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/train.py#L24)).

[2018-12-07 15:25] gulzainali98 commented on #17
python inference.py --coloring 1 --ms 0 --network resnet_v1_101 --weights_ckpt /PSPREVIVAL/PSPNet-TF-Reproduce/z_pretrained_weights/resnet_v1_101.ckpt --image_path images/real/rgb2.jpg

Even when i specifiy in the command to use resnet_v1_101, it still shows the same error but with resenet_v1_101 this time.

[2018-12-07 15:31] gulzainali98 commented on #17
Error persists even when i repeat the process with resnet_v1_50
I am putting the pre trained weights in the z_pretrained_weights folder

[2018-12-07 16:53] holyseven commented on #17
When inferring an image, the weights_ckpt should be a trained model.

The `resnet_v1_101.ckpt` is a pretrained classification model on ImageNet. It has no weights for the new layers created for segmentation model. And `resnet_v1_101/block4/unit_4/BatchNorm/beta` is a new layer. That's why it was not found in `renset_v1_101.ckpt`.

[2018-12-07 17:03] gulzainali98 commented on #17
where can i get pretrained model for segmentation?

[2018-12-18 15:56] #15 closed, assigned to nobody

[2019-01-20 07:42] zdluffy opened #18 "Does changing image size and GPU number affect precision?"
Hello! I am new in semantic segmention and deep learning, so I I might ask a stupid a question.
Due to the limit of my GPU resource, I trained resnet-50 on Cityscapes with the following command. `python ./train.py --batch_size 4 --gpu_num 1 --consider_dilated 1 --weight_decay_rate 0.0001 --weight_decay_rate2 0.001 --random_rotate 0 --database 'Cityscapes' --train_image_size 512 --test_image_size 5

[2019-01-20 09:25] holyseven commented on #18
Yes.

`train_image_size` is the size of input images during training, which may give more information for segmentation if it is larger. `batch_size` * `gpu_num` is the total batch size of each step, which makes the batch normalization more stable if it is larger. So both are quite important.

[2019-01-20 09:28] zdluffy commented on #18
Got it! Thank you very much!

[2019-01-20 11:13] #18 closed, assigned to nobody

[2019-01-28 12:12] lcybuzz opened #19 "Loss or weight nan error on ADE dataset"
I tried to train on ADE dataset, but I still met the error proposed in #15 . There are two differences with the example script (3.b):

1.  I used `--batch_size 2 --gpu_num 4` because of GPU memory limitation. But I decrease the `--lrn_rate` to `0.00001` as suggested in #15 .

2.  I used `resnet_v1_101` network and `resnet_v1_101.ckpt` as the pretrained model.

My Tensorflow is 1.8.0. Any idea abou

[2019-01-29 09:10] holyseven commented on #19
I tried tensorflow 1.8 and 1.12, py2 and py3, all work fine. See the log below.

Check the dataset (http://data.csail.mit.edu/places/ADEchallenge/ADEChallengeData2016.zip) and the pretrained model (http://download.tensorflow.org/models/resnet_v1_101_2016_08_28.tar.gz).

[code]

[code]
[code]

[2019-01-29 12:22] lcybuzz commented on #19
I re-download the ADE dataset and it works! However I find `batch size * gpu_num` should not be too few indeed. My training still fails occasionally for `--batch_size 2 --gpu_num 4` on Tesla K80.

By the way, I find it takes more than 4 minutes for preprocessing before the first training iteration actually starts. I wonder if most time is spent on the multi-gpu mechanism?

[2019-01-29 14:14] holyseven commented on #19
Usually it takes more time (2~3 minutes on my machine) than a single-GPU task. I think that tensorflow needs time to create graph forward and backward, GPU-GPU, CPU-GPU communications etc. I don't know if there is way to accelerating the graph creation. Update me if you have some ideas or directly pull request.

About the NAN error, however, even when I use `--batch_size 1 --gpu_num 4`, there is n

[2019-01-29 14:36] lcybuzz commented on #19
I also tried the same setting on another server (Tesla M40) and it still worked fine for about 200 iters. I will study more on these issues.

Thanks for the codes and reply!

[2019-01-29 14:36] #19 closed, assigned to nobody

[2019-02-28 12:35] zdluffy opened #20 "Does loss regularization always improve accuracy?"
I trained resnet-50 on Cityscapes with one gpu for three times that only different on the strategy of weight decay. The other parameters are the same as in your example.
When I apply L2-SP regularization, the precision on val_set is 69.93 mIoU.
When I apply L2 regularization, the precision on val_set is 69.68 mIoU.
When I apply No regularization, the precision on val_set is 72.15 mIoU.
So, my ques

[2019-03-01 11:52] holyseven commented on #20
I did the experiments without regularization, using 2*8 batch size, random_rotate 0, image_size 816, iter 30K, getting 75.5 mIoU (ss); while L2 and L2-SP getting around 76.7 mIoU. (The performance for L2 and L2-SP is different from the results in the [table](https://github.com/holyseven/PSPNet-TF-Reproduce#numerical-results). I might be wrong for the results in that table. I will correct them late

[2019-03-01 12:00] zdluffy commented on #20
Got it! Thank you very much!

[2019-03-16 12:47] root-sudip commented on #20
I am getting `nan` , can You help me? and have used `resNet50` as you shared the link.

[2019-03-16 15:01] holyseven commented on #20
@root-sudip See if this link can help you (https://github.com/holyseven/PSPNet-TF-Reproduce/issues/19#issuecomment-458462816). Just for details, could you tell me about your GPU type, and the script of running the training?

Feel free to open a new issue if existing ones do not match your problem.

[2019-03-17 07:22] root-sudip commented on #20
@holyseven I am using `NVIDIA TESLA P6 ` GPU and Python3 to train the network.
To get the segmentation mask, I have used your [this](https://github.com/holyseven/PSPNet-TF-Reproduce) code. It is working fine, after some iterations around 1k, I am getting `nan` loss.

Thanks @holyseven for reply.

[2019-03-17 07:50] holyseven commented on #20
@root-sudip which database and which hyperparameters you were using? Could you give me something like this:

[code]

[2019-03-17 08:10] root-sudip commented on #20
@holyseven Sure, Here it is, I have used Cityscapes dataset to train the network.

`python3 ./run.py --network 'resnet_v1_50' --visible_gpus '0' --reader_method 'queue' --weight_decay_mode 0 --weight_decay_rate 0.0001 --weight_decay_rate2 0.0001 --database 'Cityscapes' --subsets_for_training 'train' --batch_size 8 --train_image_size 480 --snapshot 10000 --train_max_iter 60000 --test_image_size 480

[2019-03-17 09:53] holyseven commented on #20
@root-sudip I repeated your training process but didn't find the nan problem. Although the `train_image_size` and `test_image_size` should be set larger for Cityscapes, it won't be a problem for training. This is what I got:

[code]

Try these:
1. Repeat the training to see if this could come again.
2. I guess you have already done this ([createTrainIdInstanceImgs](https://github.com/mcordts/citys

[2019-03-17 10:19] root-sudip commented on #20
Ok, I am doing the training again,

For the database,
to be confirmed I am telling you here,
Suppose there has a gt `aachen_000000_000019_gtFine_polygons.json` and with it I have three `.png` files(for each corresponding gt .json file) in `database/cityscapes/gt/train/*/` as you suggest in your code.
For a example :
1)aachen_000000_000019_gtFine_color.png
2)aachen_000000_000019_gtFine_instanceids.

[2019-03-17 10:49] holyseven commented on #20
It seems that you didn't do the [createTrainIdLabelImgs](https://github.com/mcordts/cityscapesScripts/blob/master/cityscapesscripts/preparation/createTrainIdLabelImgs.py) thing. (This link is correct for image segmentation. The link in my previous comment is for instance segmentation.)

It will generate a fourth `png` file, ended with `*labelTrainIds.png` and that is for training.

Verify the gene

[2019-03-17 11:04] root-sudip commented on #20
Can I mail you the image to verify the generated image `*_labelTrainIds.png`??(to your hotmail id)

[2019-03-17 11:30] root-sudip commented on #20
Ok, can I mail you to verify generated *_labelTrainIds.png image? ( to your hotmail id)

[2019-03-17 11:53] holyseven commented on #20
OK. Feel free to open a new issue if existing ones do not match your problem.

[2019-03-17 11:56] root-sudip commented on #20
Ok, I am sending you a file, and then If I face same problem I will open a issue, @holyseven  Thanks

[2019-03-18 05:37] #20 closed, assigned to nobody

[2019-03-20 04:35] tabrisweapon opened #21 "Mermory Cost Increase"
I tried the sync bn proposed by your codes and find that the memory cost increase tremendously. My experimental environment includes 4 Titan X GPU that could fit 5 batches per gpu when using Deeplab3+ as the solution, while I could only fit 1 batch per gpu after adopting sync bn. Also the running time is increased also.

Could this be caused by the absence of NVLink on my severs?

[2019-03-20 08:27] holyseven commented on #21
I am not sure which implementation you are using. The batch normalization implemented here is `tf.nn.batch_normalization`, which is slower and uses more memory than `tf.nn.fused_batch_norm`. But 5 -> 1 is too strange.

Just for info, maybe you have already done this, `optimizer.minimize(cost, self.global_step, colocate_gradients_with_ops=True)`.
colocate_gradients_with_ops: If True, try colocating

[2019-03-21 04:07] tabrisweapon commented on #21
Thanks for reply!

I didn't use minimize api since the original official deeplab collect gradients manually and I put up my codes on github to demonstrate my solution in detail.

https://github.com/tabrisweapon/official_deeplab_sync

The codes are modified from the official Deeplab implementation and for your convenience, sync_train.py is the entrance file with three other files in sync folder as

[2019-03-21 09:23] holyseven commented on #21
I don't use slim so I am not sure if there are something different there.

But What I found is this: [here](https://github.com/tabrisweapon/official_deeplab_sync/blob/master/sync_train.py#L286-L297), the current method is to compute the loss of each sample and average the gradients. It is good if each sample is independent. However, if you use the sync solution with a list input, then each sample

[2019-03-21 09:33] tabrisweapon commented on #21
Thank you for your suggestion again!
I'll give it a try in a few days.
Currently the gpus are occupied by others, sad story.

[2019-03-21 18:17] muaz-git commented on #4
Thanks for this amazing repo. I am currently trying to follow this strategy for training cityscapes' dataset. However, for second stage, I am not quite sure if there is a process of "resuming" training  currently, or maybe I am missing something.

Also, we do not need the param `fine_tune_filename` (with `resnet_v1_101` or `stage 1` weights) during second stage for calculation of `wd` right?

Woul

[2019-03-21 21:02] holyseven commented on #4
The moments and batch normalization global statistics are not used for the second-stage training, but all trainable parameters are.
When `new_layer_names` is set to '' or 'whatever' (default is `None`), then all trainable parameters will be loaded from the `fine_tune_filename`.

For normal weight decay (L2), no; For L2-SP, we need the `fine_tune_filename` as reference for regularization.

[2019-03-25 16:39] muaz-git commented on #4
Thank you for your quick response.
So I am trying to achieve the same results on `cityscapes` using PSPNet as you did. I have followed these steps.

- Converted labelIds to trainIds for `train`, `train_extra` and `val` splits.
- Training happens in two stages, first stage uses following arguments:
`{'batch_size': 2, 'color_switch': 0, 'coloring': 1, 'consider_dilated': 0, 'database': 'Cityscapes',

[2019-03-25 19:19] holyseven commented on #4
`batch_size` * num of `visible_gpus` should be larger than 8 or 16.

[2019-04-12 01:28] AmberHen opened #22 "predict"
1. when ms=1,mirror = 0
np.unique（total_proba）
[ 0.48855963  0.48895204  0.48936412 ... 16.93312    16.933477
 16.93356   ]
shape:total_proba
(512, 512, 2)
prediction.shape
(512, 512)
np.unique(prediction)
[0]
2. when ms=1,mirror=1
unique:total_proba
[ 0.99463326  0.9946749   0.9948443  ... 33.892696   33.892704
 33.892773  ]
shape:total_proba
(512, 512, 2)
prediction.shape
(512, 512)
unique(predi

[2019-04-13 10:12] holyseven commented on #22
when training, loss function and miou are normal?

[2019-04-26 13:27] GWwangshuo commented on #21
Thank for your work. I have also tried your code here. But It seems that this code is indeed memory costly. When training ADE, I can only run this code with the batch_size=2. ( I have two Nvidia 1080Ti 11g GPUs) When I train deeplabv3+ with Pascal VOC 2012 dataset, it can normally run with batch_size=8. Could you please give me some hint since small batch size will also influence the final result?

[2019-04-26 14:01] holyseven commented on #21
For ADE and deeplabv3, which code you were trying? the image crop sizes are the same? Did deeplabv3+ do the sync bn?

Just for info of the code here:
- optimizer.minimize(cost, self.global_step, colocate_gradients_with_ops=True).
colocate_gradients_with_ops: If True, try colocating gradients with the corresponding op.
- the batch normalization implemented here is tf.nn.batch_normalization, which i

[2019-04-28 02:10] SuperWWF opened #23 "Memory cost too much"
Hi, I try to learn to train pspnet on cityscapes(only train dataset), but after several iters , always ResourceExhaustedError, I try to reduce batch_size and train_size from 864 to 512.and I use
4*TITAN-XP(12G). Could you give to some advice? Thank you  so much!
`python ./run.py --network 'resnet_v1_101' --visible_gpus '0,1,2,3' --reader_method 'queue' --batch_size 4  --poly_lr 1 --lrn_rate 0.01 -

[2019-04-28 09:40] holyseven commented on #23
- try batch size 2 (total batch size 8), it decreases the performance but not much.
- try crop size 816, 768, 720 etc... in fact, train crop size and batch size affects each other.
- try resnet_v1_50.

[2019-05-28 09:54] chenxiaoyu523 opened #24 "Can you share the training script on SBD dataset?"

[2019-05-31 20:42] holyseven commented on #24
I lost the best script, and tried this:
[code]
and got 77.72 with single test. With more tuning the learning rate and weight decay rate 1 and 2, the performance could be better.

[2019-06-11 09:03] REFunction opened #25 "Num of classes of ADE20k, 150 or 151?"
Thank you for reproducing pspnet.
I find you set num_classes = 150 instead of 151 while 0 represents 'other' class. I think this may cause a little difference during training and testing.

[2019-06-11 14:41] holyseven commented on #25
Hi,
I didn't use the 'other' class for training and test. https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/database/reader.py#L269-L270.
pspnet used also 150 classes, I think.

[2019-06-11 15:35] REFunction commented on #25
It's so strange.[PSPNet](https://github.com/hszhao/PSPNet/blob/master/evaluation/eval_all.m) set 20+1 for Pascal VOC, 18+1 for Cityscapes while only 150 for ADE20k. Then I check the masks in ADE20k again and find there are definitely some zeros in them.

[2019-06-11 18:28] holyseven commented on #25
Usually, the training and test do not involve the background/trash/other class. But it all depends on the creator of the dataset and its evaluation server.
- Pascal VOC, the server computes the accuracy of the background class.
- Cityscapes has 19+1 classes, not 18+1. See https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/database/helper_cityscapes.py#L61-L98. Note that the trainId start

[2019-06-12 03:07] REFunction commented on #25
Thank you for explaining so much. Now I have got your idea. But  I notice that you only set num_classes=150 and take 'tf.nn.sparse_softmax_cross_entropy_with_logits' as a part of loss function. Can I think it includes class ids from 0 to 149? If so, this will take class 0 into account and ignore class 150, which is inconsistent with expection.

[2019-06-12 05:15] erichhhhho commented on #23
Hi, I was wondering what is the effect of training on cropped training data(E.g. 720×720) and then testing on the larger images(E.g. 1024×2048). I saw the original implementation of PSPNet only train images in 713*713(cityscape) and then test the model in the full resolution images, is it correct? Thus, the reported mIoU inference result in here are in which image size exactly?

Also, are you load

[2019-06-12 06:48] holyseven commented on #25
That's why I did this: https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/database/reader.py#L269-L270, which eliminates the class 0.

[2019-06-12 06:52] REFunction commented on #25
Hahahahaha, got it.

[2019-06-12 06:52] holyseven commented on #23
Hi,

No... pspnet trains with 713*713 crops and tests with 713*713 crops, see [this](https://github.com/hszhao/PSPNet/tree/master/evaluation). and here 864*864 crops were used.

Yes.

[2019-06-12 08:56] erichhhhho commented on #23
@holyseven Thx for your reply.

But I saw the cityscape benchmark submission page saying that the reported mIoU are under full resolution, see [here](https://www.cityscapes-dataset.com/create-submission/)(As the given test set is **2048 x 1024 pixels** )

[2019-06-12 09:14] holyseven commented on #23
@erichhhhho One whole image of 2048x1024 is split into 713x713 crops with a certain way, see the code https://github.com/hszhao/PSPNet/blob/master/evaluation/scale_process.m,
https://github.com/hszhao/PSPNet/blob/master/evaluation/eval_sub.m#L48.

Similar operations are done [here](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/predict.py#L125).

[2019-07-29 06:22] lakshmankanakala opened #26 "Training customised data set. Getting loss or weight norm is nan. Training Stopped!"
I have converted my dataset as ADE format annotation images.

I have only two classes. like wise i will have only two pixel values 1 and 2 in annotation image rest all pixels will have 0.

I have used this command

After some iterations (650) ,  I am getting following error

I have seen issue #15 , but not worked.

I think data set representation would be wrong. like number of classes.

is there a

[2019-07-31 03:40] lakshmankanakala commented on #25
Hi @holyseven, Is there any option to load the last saved checkpoint to train (resume option)

Thank you

[2019-08-01 02:12] holyseven commented on #26
The number of class in the 'ADE' dataset is 150, so will cause some problems for your customized dataset.

The simplest way is to modify [this line of code](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/database/reader.py#L20) to 3 (0, 1, 2). Of course, the original ADE dataset can not be used any more if you modified that line.

Or you can write a reader for your dataset.

One more

[2019-08-01 02:14] holyseven commented on #25
@lakshmankanakala Sorry, no... But you can add one.

[2019-08-02 11:38] lakshmankanakala commented on #26
Thanks for the reply @holyseven . I have done as per your suggestion. I am training on my custom data. but unfortunately my system shut downed after 30,000 iterations.

 Can I resume the training from the latest checkpoint. I have not found any input arguments for resume. Is there any modifications need to add ? please help me out.

Thanks.

[2019-08-05 05:00] holyseven commented on #26
You can modify [the line about the saver of checkpoints](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/run.py#L164), and the argument `FLAGS.snapshot`, to save the checkpoints.

Then, loading the latest checkpoint has nothing special. For example, see https://github.com/hellochick/PSPNet-tensorflow/blob/master/train.py#L189-L196

[2019-08-06 05:19] lakshmankanakala commented on #26
Thanks for the response. I will do that.

[2019-11-21 07:11] #25 closed, assigned to nobody

[2019-11-21 07:13] #21 closed, assigned to nobody

[2019-11-21 07:14] #23 closed, assigned to nobody

[2019-11-21 07:14] #24 closed, assigned to nobody

[2019-11-21 07:14] #26 closed, assigned to nobody

[2019-11-29 00:35] JankYang12 opened #27 "weight load error"
Finetuning Process: not import resnet_v1_50/block3/unit_7/weights:0 >
< Finetuning Process: not import resnet_v1_50/block3/unit_7/BatchNorm/beta:0 >
< Finetuning Process: not import resnet_v1_50/block3/unit_7/BatchNorm/gamma:0 >
< Finetuning Process: not import resnet_v1_50/aux_logits/weights:0 >
< Finetuning Process: not import resnet_v1_50/aux_logits/biases:0 >
< Finetuning Process: not import r

[2019-11-29 00:43] JankYang12 commented on #27
Oh, I solved it. just because my batch_size is too small

[2019-12-30 03:47] changwenkai101 opened #28 "Cityspace training parameters"
Hello, thank you for your implementation, it is being used in a comparative experiment in a new paper, but encountered low reproduction accuracy. We used three GPUs to train Cityspace data. The modified settings are as follows:

database = Cityscapes,
batch_size = 2,
train_max_iter = 50000,
snapshot = 10000,

Other parameters have not been modified except the data directory. The training data only

[2020-01-01 09:46] holyseven commented on #28
I got the reported performance using the ImageNet-pretrained parameters. As you already noticed, `train_image_size` and `test_image_size` should be the same. For both, I used 864. Sorry that the [comment](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/args.py#L58) about `test_image_size` was not correct (updated now).

One more thing, in your training setting, the batch size is 6 (th

[2020-01-10 10:26] lilyswang opened #29 "trained model?"
Hi , @holyseven ,thanks for your nice job about PSPNET. I am a beginner of   Semantic segmentation.  I try to train the model but it is so slow. :(
Could you provide a well trained pspnet 50 model?   Thanks a lot.

[2020-01-25 14:19] holyseven commented on #29
Hello @lilyswang
If you want a trained model, the authors of PSPNet have already proposed several choices, see https://github.com/hszhao/PSPNet#usage.

I have no access to my trained models at this moment. Sad story :(

[2020-06-22 09:06] kkk324 commented on #17
same here

[2020-08-03 18:38] noamholz commented on #17
same here :/

[2020-08-04 03:22] holyseven commented on #17
Sorry guys, this repo is mainly for reproducing the **training** phase of PSPNet. There is only ImageNet-pretrained model in public, which is what I used for training. I didn't provide segmentation trained models, while the official repo did, [link](https://github.com/hszhao/PSPNet#usage).

[2020-08-08 12:09] #27 closed, assigned to nobody

[2021-04-09 07:45] dgliu123 opened #30 "请问显存不够问题怎么解决"
我目前机器是两个1080的显卡  每个卡12G显存,batch设置成了1
跑起来后就出现显存不够问题

[2021-04-09 08:30] holyseven commented on #30
image_size 调小一些？`nvidia-smi`看看是否有其它程序占用GPU内存。这个repo也没有实现freeze_bn的功能，所以建议batch size 能大于8。

如果想复现PSPNet，可以参考作者的Pytorch实现：https://github.com/hszhao/semseg

[2021-04-09 08:31] #29 closed, assigned to nobody

[2021-04-09 08:31] #22 closed, assigned to nobody

[2021-04-09 08:31] #28 closed, assigned to nobody

[2021-04-09 08:33] holyseven commented on #17
To get a trained model for segmentation in Pytorch, you can see here: https://hangzhang.org/PyTorch-Encoding/model_zoo/segmentation.html.

[2021-04-09 08:33] #17 closed, assigned to nobody

[2021-04-09 08:34] holyseven commented on #29
To get a trained model for segmentation in Pytorch, you can see here: https://hangzhang.org/PyTorch-Encoding/model_zoo/segmentation.html.

[2021-05-08 08:55] #30 closed, assigned to nobody

[2021-08-22 07:08] cspearl opened #31 "Binary segmentation on a custom dataset"
Hi,
I am new to segmentation and trying to use this repo to train the network from scratch on a custom dataset having only 2 classes (binary segmentation) and so if you could please guide me as to where do i need to make the changes in the code.
Also is it possible to train if a dataset has images in 4 channels or 1 channel and not 3.
A help would be highly appreciated.
Thanks!!

[2021-08-23 02:18] holyseven commented on #31
Hi,

Change the `num_classes` when calling [PSPNet](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/model/pspnet_mg.py#L9).

I think you don't need to change anything in the code. But you can't use the pre-trained ImageNet weights, defined in [FLAGS.fine_tune_filename](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/run.py#L125).

[2021-08-23 08:50] cspearl commented on #31
While studying the code I found out for the databases tf.decode_jpg or png is used but my dataset has images of type .tif (1024*1024) . I saw that there is a tfio.experimental.decode_tif method but that is for a recent version of tf . I dont know whether tfio will work with this code.
How should I solve this problem?

[2021-08-23 09:04] holyseven commented on #31
I'm not so familiar with tfio either. Sorry I can't help you about this problem.

Try some demo codes to verify whether the code can read tif images. Or just convert .tif images to .png .jpg images with other tools.

[2021-08-27 10:36] cspearl commented on #31
Do you know exactly what tf.decode does? Then probably I could use some other function for tiff images?

[2021-08-29 13:59] DLPerf opened #32 "Performance issue in /database (by P3)"
Hello! I've found a performance issue in /reader.py: `dataset.batch(batch_size)`[(here)](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/6923c09bd6ef8b1195a90253bc5b2329f78231db/database/reader.py#L310) should be called before `.map(_training_data_preprocess, num_parallel_calls=batch_size)`[(here)](https://github.com/holyseven/PSPNet-TF-Reproduce/blob/6923c09bd6ef8b1195a90253bc5b2329f78231db

[2021-08-30 09:21] holyseven commented on #32
That would be great if you could create a PR. Thanks!

[2021-08-30 09:33] holyseven commented on #31
`tf.decode` decodes the images from files to arrays/tensors. If I remember correctly, this repo uses tensorflow1.4, which has separate apis for different formats of images. Not sure if there exists `tf.decode_tiff` in 1.4. But if you use higher version of tensorflow, I think all apis are aggregated to a single one, which decodes all formats of images. That could decode tiff images probably.

[2021-08-30 11:01] cspearl commented on #31
Yes i checked version 1 of tf does not support tif neither does v2. But there is an option in experimental tf-io as I had said but I will try some other method thank you.
Can you help with images in 4 channels- RGB(3)+NIR(1) so there are two separate images. How should I pass them onto the reader like to fuse the two seperate matrices of the images H*W*3 and H*W*1?

[2021-08-31 04:18] holyseven commented on #31
You can prepare a function for reading images, NIRs, and labels, similar to https://github.com/holyseven/PSPNet-TF-Reproduce/blob/master/database/reader.py#L28